* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: auto; /* 전체 높이 설정을 auto로 변경하여 컨텐츠 길이에 따라 높이가 결정되게 함 */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color:#ffffff;
  /* background: linear-gradient(to bottom, #9494e7, #543d75, #d2d2d2); 전체 배경에 그라데이션 적용 */
  color: #fff;
  display: flex;
  flex-direction: column;
}
main {
  margin: 0 auto; /* 가운데 정렬합니다. */
}

/* Header */
header {
  background: #000;
  color: #fff;
  padding: 10px 20px;
}

#logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/* Highlight the demo button */
.demo-button {
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

#jungle{
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top {
  background-image: url('hand.jpg'); /* 이미지 경로를 설정하세요 */
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}


#hero h1 {
  color: #000000;
  font-size: 40px;
  margin-bottom: 100px;
}

#top home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color : #ffffff;
  font-weight: bold;
  margin-top : 150px;
  margin-bottom : 0px;
}

#top img{
  width: 1000px;
  height: 600px;
}

#jungle c {
  font-size: 20px;
  color : #000000;
  font-weight: bold;
  margin-top: 50px;
}

/* #hero p {
  color: #000000;
  font-size: 18px;
  margin-bottom: 100px;
  margin-top: 30px;
} */
    
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.large-text {
  font-size: 20px;
  font-weight: bold
}

.cta-button {
  padding: 8px 55px;
  background-color: #060000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 1.5;
  white-space: normal;
  margin: 0;
}

.cta-button:hover {
  background-color: #7a7676;
}

bottom{
  color: #bababa;
  margin-bottom: 50px;
  text-align: center;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
}


@media (max-width: 1024px) {
  /* Adjust main content padding and layout */
  main {
    padding: 20px;
  }

  header {
    padding: 5px 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .buttons-container {
    flex-direction: column;
    gap: 20px;
  }

  #top home, #hero h1 {
    font-size: 30px; /* Smaller font size for smaller screens */
  }
  #top c {
    font-size: 18px;
  }

    img{
      width: 300px;
      height: 200px;
    }

  .cta-button {
    padding: 8px 20px;
  }
}

@media (max-width: 768px) {
  /* Further adjustments for smaller screens */
  .buttons-container {
    gap: 10px;
  }

  .cta-button {
    font-size: 14px;
  }

  #top c, bottom {
    font-size: 14px;
  }

  #top home {
    font-size: 150px;
  }

  #hero h1 {
    font-size: 24px;
  }
}