* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: auto; /* 전체 높이 설정을 auto로 변경하여 컨텐츠 길이에 따라 높이가 결정되게 함 */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color:#ffffff;
  /* background: linear-gradient(to bottom, #9494e7, #543d75, #d2d2d2); 전체 배경에 그라데이션 적용 */
  color: #fff;
  display: flex;
  flex-direction: column;
}
main {
  margin: 0 auto; /* 가운데 정렬합니다. */
}

/* Header */
header {
  background: #000;
  color: #fff;
  padding: 10px 20px;
}

#mid {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  box-sizing: border-box;
}

#logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/* Highlight the demo button */
.demo-button {
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

h0{
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #000;
}

#jungle{
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#james{
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top {
  background-image: url('hand.jpg'); /* 이미지 경로를 설정하세요 */
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}


#hero h1 {
  color: #000000;
  font-size: 60px;
  margin-bottom: 130px;
  margin-top : 70px;
}

#top home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color : #ffffff;
  font-weight: bold;
  margin-top : 150px;
  margin-bottom : 0px;
}

#top img{
  width: 1000px;
  height: 600px;
}

#jungle c {
  font-size: 20px;
  color : #000000;
  font-weight: bold;
  margin-top: 50px;
}

#james c {
  font-size: 50px;
  color : #000000;
  font-weight: bold;
  margin-top: 0px;
}


/* #hero p {
  color: #000000;
  font-size: 18px;
  margin-bottom: 100px;
  margin-top: 30px;
} */
    
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.large-text {
  font-size: 20px;
  font-weight: bold
}

.cta-button {
  padding: 8px 55px;
  background-color: #060000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 1.5;
  white-space: normal;
  margin: 0;
}

.cta-button:hover {
  background-color: #7a7676;
}

bottom{
  color: #bababa;
  margin-bottom: 50px;
  text-align: center;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.requirements {
  width: 48%; /* Makes each column take up roughly half the container width */
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  border: 1px solid #000000;

  padding: 20px;
  box-sizing: border-box;
}

.requirements h2 {
  text-align: center;
  background-color: #000000;
  margin: -20px;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #000000;
}

.requirements ul {
  list-style-type: none;
  padding: 0;
}

.requirements ul li {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #000000;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #000
}

.thin-line {
  border: none; /* 기존의 border 스타일 제거 */
  height: 1px; /* 선의 두께 설정 */
  background-color: #000; /* 선의 색상 설정 */
  margin-top: 50px;
  margin-bottom: 15px; 
  width: 450px; 
  margin-left: auto;
  margin-right: auto;
}

#letter{
  font-size: 70px;
  font-weight: bold;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 20px
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 세로 중앙 정렬 */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center; /* 이것은 각 'content' div 안의 요소들을 가운데로 정렬합니다. */
  margin-bottom: 20px;
}

.text {
  flex: 1; /* 사용 가능한 공간에 비례하여 크기를 조정 */
  padding-right: 150px; /* 텍스트와 영상 사이에 패딩을 줍니다. */
  text-align: center;
}
  

.video {
  flex: 2; /* 텍스트보다 두 배 더 많은 공간을 차지하도록 설정 */
}

.thin-line1 {
  border: none; /* 기존의 border 스타일 제거 */
  height: 1px; /* 선의 두께 설정 */
  background-color: #000; /* 선의 색상 설정 */
  margin-top: 50px;
  margin-bottom: 15px; 
  width: 1200px; 
  margin-left: auto;
  margin-right: auto;
}

.thin-line2 {
  border: none; /* 기존의 border 스타일 제거 */
  height: 1px; /* 선의 두께 설정 */
  background-color: #000; /* 선의 색상 설정 */
  margin-top: 80px;
  margin-bottom: 15px; 
  width: 1200px; 
  margin-left: auto;
  margin-right: auto;
}

#letter1 {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center; /* 내부 요소들을 가로 방향으로 중앙에 배치합니다. */
  align-items: center;
}

.container1 {
  width: 100%; /* 컨테이너의 너비를 전체로 설정합니다. */
  display: flex;
  justify-content: center; /* 내부 요소들을 가로 방향으로 중앙에 배치합니다. */
  align-items: center;
  margin-bottom: 20px;
}

.text1 {
  flex: 1; /* 사용 가능한 공간에 비례하여 크기를 조정 */
  margin-left: 70px;
  padding-left: 50px;
  /* 추가적인 중앙 정렬을 위해 오른쪽 패딩 추가 가능 */
}

  

.genesis {
  flex: 1; /* 텍스트보다 두 배 더 많은 공간을 차지하도록 설정 */
}


@media (max-width: 1024px) {
  /* Adjust main content padding and layout */
  main {
    padding: 20px;
  }

  header {
    padding: 5px 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .buttons-container {
    flex-direction: column;
    gap: 20px;
  }

  #top home, #hero h1 {
    font-size: 30px; /* Smaller font size for smaller screens */
  }
  #top c {
    font-size: 18px;
  }

    img{
      width: 300px;
      height: 200px;
    }

  .cta-button {
    padding: 8px 20px;
  }
}

@media (max-width: 768px) {
  /* Further adjustments for smaller screens */
  #mid {
    flex-direction: column;
    padding: 0;
  }

  .requirements {
    width: auto;
    margin-bottom: 20px;
  }
  .buttons-container {
    gap: 10px;
  }

  .cta-button {
    font-size: 14px;
  }

  #top c, bottom {
    font-size: 14px;
  }

  #top home {
    font-size: 150px;
  }

  #hero h1 {
    font-size: 24px;
  }
  .container {
    flex-direction: column; /* 컨테이너의 방향을 수직으로 변경 */
  }

  .text, .video {
    flex: none; /* 기본 크기로 재설정 */
    width: 100%; /* 전체 너비를 차지하도록 설정 */
  }

  .text {
    padding-right: 0; /* 영상 아래로 텍스트가 이동하므로 우측 패딩 제거 */
    margin-bottom: 20px; /* 텍스트와 영상 사이에 마진을 줍니다. */
  }

  .video iframe {
    width: 100%; /* 반응형으로 너비를 조정합니다. */
    height: auto; /* 높이를 자동으로 설정하여 비율을 유지합니다. */
  }
}
